a {
    color: orange;
    text-decoration: none!important;
    font-size: large;
}

section {
    position: relative;
}
/* text css above hero image*/
.hero_title {
    font-weight: bold;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageAboutPage {
    width: 100%;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}



.card-body, .card-title {
    color: black;
    text-align: left;
}

#izzy {
    margin-left: auto;
    margin-right: auto;
}

#spotify, #socials {
    border: none;
}

#hometxt {
    background-image: url('src/threeidiots.jpg');
    background-color: black;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: black;
}
strong {
    top: 50%;
    text-align: center;
    left: 50%;
    position: absolute;
}

.card {
    border: none;
}
